<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287778657945-6aqasq0sjulqf7fgafmsc2vuv1h81lhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287778657945-6aqasq0sjulqf7fgafmsc2vuv1h81lhb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>287778657945-56u1jg3jp05jpv1oekb6ikds5qsrhs2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhKM7mznSQGfsz-HdUNM5fKJ2yc9qwkzg</string>
	<key>GCM_SENDER_ID</key>
	<string>287778657945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flatsshuttles</string>
	<key>PROJECT_ID</key>
	<string>flatsshuttles-gr3bc7</string>
	<key>STORAGE_BUCKET</key>
	<string>flatsshuttles-gr3bc7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287778657945:ios:1a5ed758607d52909eca08</string>
	<key>DATABASE_URL</key>
	<string>https://flatsshuttles-gr3bc7-default-rtdb.firebaseio.com</string>
</dict>
</plist>